<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Centre de formation 
   
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img class="avatar"
        src="../assets/face10.jpg"
      />
  
      <h4 class="name">Mohamed Fitouri</h4>
      <p class="designation">Administrateur</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/users">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/domaine">
        <mat-icon>person</mat-icon>
        <span>Domaine</span>
      </button>
      <button mat-button class="menu-button" routerLink="/organisme">
        <mat-icon>supervisor_account</mat-icon>
        <span>Organisme </span>
      </button>
      <button mat-button class="menu-button" routerLink="/pays">
        <mat-icon>airplanemode_active</mat-icon>
        <span>Pays </span>
      </button>
      <button mat-button class="menu-button" routerLink="/profil">
        <mat-icon>assignment_ind</mat-icon>
        <span>Profil </span>
      </button>
      <mat-divider></mat-divider>
  
    
    </mat-sidenav>


    
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
       <router-outlet></router-outlet>
        
       
      </div>
     
    </mat-sidenav-content>
  </mat-sidenav-container>

